
  
<h1>Thông tin người dùng</h1>
<ul>
    <% let user=data.user %>
    
            <li><strong>Username:</strong>
                <%= user.username %>
            </li>
            <li><strong>Full Name:</strong>
                <%= user.fullname %>
            </li>
            <li><strong>Giới tính:</strong>
                <%= user.sex %>
            </li>
            <li><strong>Địa chỉ:</strong>
                <%= user.address %>
            </li>
            <li><strong>Email:</strong>
                <%= user.email %>
            </li>
            <li><strong>Quyền:</strong>
                <%= user.role %>
            </li>
</ul>